<form [ngFormModel]="form" novalidate>
    <div class="form-group row" [ngClass]="{ 'has-success': form.controls.name.valid, 'has-danger': ! form.controls.name.valid && form.controls.name.dirty }">
        <input type="text" placeholder="Name" class="form-control" ngControl="name" [ngClass]="{ 'form-control-success': form.controls.name.valid, 'form-control-danger': ! form.controls.name.valid && form.controls.name.dirty }">
        <ul class="list-group m-t-1" *ngIf="! form.controls.name.valid && form.controls.name.dirty">
            <li class="list-group-item text-danger" *ngIf="form.controls.name.errors?.required">You must provide your name.</li>
            <li class="list-group-item text-danger" *ngIf="form.controls.name.errors?.maxlength">Your name is too long.</li>
        </ul>
    </div>
    <div class="form-group row" [ngClass]="{ 'has-success': form.controls.username.valid, 'has-danger': ! form.controls.username.valid && form.controls.username.dirty && ! form.controls.username.pending }">
        <input type="text" placeholder="Username" class="form-control" ngControl="username" [ngClass]="{ 'form-control-success': form.controls.username.valid, 'form-control-danger': ! form.controls.username.valid && form.controls.username.dirty && ! form.controls.username.pending }">
        <div class="card m-t-2">
            <div class="card-block">
                <h4 class="card-title">Username</h4>
                <p class="card-text">This is the name you'll use to find your profile.</p>
                <p class="card-text text-muted">http://colonthree.com/u/<span [ngClass]="{ 'text-success': form.controls.username.valid, 'text-danger': ! form.controls.username.valid && ! form.controls.username.pending }">{{ form.controls.username.value }}</span></p>
            </div>
            <ul class="list-group list-group-flush" *ngIf="! form.controls.username.valid && form.controls.username.dirty">
                <li class="list-group-item text-primary" *ngIf="form.controls.username.pending"><i class="fa fa-spinner fa-pulse fa-fw"></i> Checking...</li>
                <li class="list-group-item text-danger" *ngIf="form.controls.username.errors?.required">You must provide an username.</li>
                <li class="list-group-item text-danger" *ngIf="form.controls.username.errors?.minlength">Your username must be at least {{ form.controls.username.errors.minlength.requiredLength }} characters.</li>
                <li class="list-group-item text-danger" *ngIf="form.controls.username.errors?.pattern">Your username must contain only numbers and letters, without accent or space.</li>
                <li class="list-group-item text-danger" *ngIf="form.controls.username.errors?.ctUnique">Your username is not available.</li>
                <li class="list-group-item text-danger" *ngIf="form.controls.username.errors?.maxlength">Your username is too long.</li>
                <li class="list-group-item text-danger" *ngIf="form.controls.username.errors?.ctAsync">Something went wrong on our server. Please, try again later.</li>
            </ul>
        </div>
    </div>
    <div class="form-group row" [ngClass]="{ 'has-success': form.controls.email.valid, 'has-danger': ! form.controls.email.valid && form.controls.email.dirty && ! form.controls.email.pending }">
        <input type="text" placeholder="Email" class="form-control" ngControl="email" [ngClass]="{ 'form-control-success': form.controls.email.valid, 'form-control-danger': ! form.controls.email.valid && form.controls.email.dirty && ! form.controls.email.pending }">
        <ul class="list-group m-t-1" *ngIf="! form.controls.email.valid && form.controls.email.dirty">
            <li class="list-group-item text-primary" *ngIf="form.controls.email.pending"><i class="fa fa-spinner fa-pulse fa-fw"></i>Checking...</li>
            <li class="list-group-item text-danger" *ngIf="form.controls.email.errors?.required">You must provide an email.</li>
            <li class="list-group-item text-danger" *ngIf="form.controls.email.errors?.ctEmail">Your email is not valid.</li>
            <li class="list-group-item text-danger" *ngIf="form.controls.email.errors?.ctUnique">Your email is not available.</li>
            <li class="list-group-item text-danger" *ngIf="form.controls.email.errors?.maxlength">Your email is too long.</li>
            <li class="list-group-item text-danger" *ngIf="form.controls.email.errors?.ctAsync">Something went wrong on our server. Please, try again later.</li>
        </ul>
    </div>
    <div class="form-group row" [ngClass]="{ 'has-success': form.controls.password.valid, 'has-danger': ! form.controls.password.valid && form.controls.password.dirty }">
        <input type="password" placeholder="Password" class="form-control" ngControl="password" [ngClass]="{ 'form-control-success': form.controls.password.valid, 'form-control-danger': ! form.controls.password.valid && form.controls.password.dirty }">
        <ul class="list-group m-t-1" *ngIf="! form.controls.password.valid && form.controls.password.dirty">
            <li class="list-group-item text-danger" *ngIf="form.controls.password.errors?.required">You must provide a password.</li>
            <li class="list-group-item text-danger" *ngIf="form.controls.password.errors?.minlength">Your password must be at least {{ form.controls.password.errors.minlength.requiredLength }} characters.</li>
        </ul>
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-success-outline btn-lg btn-block" [disabled]="! form.valid">Create</button>
    </div>
</form>
